

.container {
  
}

.left {
  width: 50%;
  float: left;
}

.button {
  display: block;
}

.right {
  width: 50%;
  display: flex;
  float: left;
  align-items: center;
}

.displaynone {
  display: none;
}
